<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:section name="Subject">Aanvraag lidmaatschap {person.naam}</f:section>
<h3>Aanvraag lidmaatschap</h3>
<p>Betreft:</p>
<table>
<tr>
	<td style="padding:10px"><strong>{person.naam}</strong></td>
	<td style="padding:10px"><i>geboortedatum</i>: <f:format.date format="%d-%m-%Y">{person.geboortedatum}</f:format.date></td>
	<td style="padding:10px"><i>gedoopt op</i>: <f:format.date format="%d-%m-%Y">{person.doopdatum}</f:format.date></td>
	<td style="padding:10px"><i>bezoeker sinds</i>: <f:format.date format="%d-%m-%Y">{person.invoerdatum}</f:format.date></td>
</tr>
<f:if condition="{partneraanvraag}">
<tr>
	<td style="padding:10px"><strong>{partner.naam}</strong></td>
	<td style="padding:10px"><i>geboortedatum</i>: <f:format.date format="%d-%m-%Y">{partner.geboortedatum}</f:format.date></td>
	<td style="padding:10px"><i>gedoopt op</i>: <f:format.date format="%d-%m-%Y">{partner.doopdatum}</f:format.date></td>
	<td style="padding:10px"><i>bezoeker sinds</i>: <f:format.date format="%d-%m-%Y">{partner.invoerdatum}</f:format.date></td>
</tr>
</f:if>
</table>
</html>