<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />
<!--
	=====================
		Templates/Persoon/SearchForm.html
-->

<f:section name="content">
<script language="JavaScript">
$ = jQuery.noConflict();
var downloadfile = "{downloadfile}";
$(document).ready(function() {
	//alert('downloadfile:'+downloadfile);
	window.open(downloadfile,"_parent");
});
</script> 
<table><tr><td>De adressenlijst wordt gedownload en geopend</td></tr></table>
<script language="JavaScript">
$ = jQuery.noConflict();
var downloadfile = "{downloadfile}";
$(document).ready(function() {
	//alert('downloadfile:'+downloadfile);
	window.open(downloadfile,"_parent");
});
$( window ).on( "load", function() {
	$(location).attr('href',"{home}");
});
</script> 
</f:section>
</html>