<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />
<!--
	=====================
		Templates/Persoon/SearchForm.html
-->

<f:section name="content">
	<div class="contactinfo-form">
		<f:form action="contactInfoSave" object="{archive}" name="archive" id="conatctForm" enctype="multipart/form-data" additionalAttributes="{autocomplete:'off'}">  
		<f:form.hidden id="stack" name="stack" value="{stack}"/>
		<f:form.hidden property="uid"/>
		<f:form.hidden property="id_person"/>
		<f:form.hidden property="id_person_owner"/>
		<f:form.hidden property="type_content"/>
		<div>
			<h3><f:if condition="{archive.type_content}=='email'">Email</f:if>
			<f:if condition="{archive.type_content}=='bestand'"><Document</f:if>
			<f:if condition="{archive.type_content}=='notitie'">Notitie</f:if></h3>
		</div>
		<div class="form-group row">
			<label for="archive-onderwerp" class="col-sm-1 col-form-label labelchurchadmin"><f:translate key="onderwerp" />:</label>
    		<div class="col-sm-4">
				<f:form.textfield id="archive-onderwerp" property="subject" class="form-control"  maxlength="150"  required="true"/>
    		</div>
		</div>
		<div class="form-group row">
			<label for="archive-date" class="col-sm-1 col-form-label labelchurchadmin"><f:translate key="archive.date" />:</label>
    		<div class="col-sm-2">
				<f:form.textfield type="date" id="archive-date" property="date" class="selectdate form-control"  />
    		</div>
		</div>
		<div class="form-group row">
			<label for="archive-auteur" class="col-sm-1 col-form-label labelchurchadmin"><f:translate key="archive.author" />:</label>
    		<div class="col-sm-4">
				<f:form.textfield id="archive-auteur" property="author" class="form-control" size="25" />
    		</div>
		</div>
		<f:if condition="{contactconfidential}">
		<div class="form-group">
    		<div class="form-check">
			<f:form.checkbox class="form-check-input" id="archive-confidential" property="confidential" title="Alleen zichtbaar voor voorgangers en jezelf" value="1" checked="{archive.confidential}"/>
      		<label class="form-check-label" for="archive-confidential"><f:translate key="confidential"/></label>
    		</div>
		</div>
		</f:if>
		<f:if condition="{archive.uid} && {archive.type_content}=='email'">
		<div class="form-group row">
			<label for="bijlagen" class="col-sm-1 col-form-label mr-1 labelchurchadmin"><f:translate key="attachments" />:</label>
    		<div class="d-flex flex-column">{archive.attachements}
    		</div>
		</div>
		</f:if>
		<f:if condition="{archive.type_content}=='bestand'">
		<f:then>
		<div class="form-group row">
			<label for="archive-bestand" class="col-sm-1 col-form-label labelchurchadmin"><f:translate key="file" />:</label>
    		<div class="col-sm-4">{archive.document_name}
			<f:if condition="!{archive.uid}"><f:form.upload property="document_name"/>
			</f:if>
    		</div>
		</div>
		</f:then>
		</f:if>

<f:if condition="{archive.type_content}!=='bestand'">
<f:then>
		<div class="form-group row">
			<label class="col-sm-1 col-form-label labelchurchadmin"><f:translate key="content" />:</label>
		</div>		
		<div>
			<f:form.textarea id="editor" name="message" rows="13" cols="87" value="{archive.content}" />
		</div>

		<script>
		$ = jQuery.noConflict();
		
		ClassicEditor
	    .create( document.querySelector( '#editor' ),{
		language: 'nl'
		} )
	    .then( newEditor => {
	        editor = newEditor;
	    } )
	    .catch( error => {
	        console.error( error );
	    } );
		
		function addrow(sel) 
		{
			//alert (sel.value +" changed");
			var leeg=0;
			var aantal=0;
			$(".filenaam").each(function(){
			  	aantal++;
		 		if($( this ).val()==""){leeg=1;}
			});
		  
		  	if (leeg==0) {
		    	aantal++;
		  		$('<tr><td><input type="file" class="filenaam" Name="attachmentFile[]" onchange="addrow(this)"></td></tr>').appendTo("#bijlagen");
		  	}
		}
		</script>
</f:then>
</f:if>
	<div class="d-flex row justify-content-center">
		<f:if condition="{persondeleted}=='0' && {contactarchiefreg} && {archive.type_content}!=='email'  && {archive.id_person_owner}=={userid}">
			<f:form.button class="btn btn-primary mr-1 mt-1" title="Contactinformatie opslaan" onclick="updateRTEs();return true;">{f:translate(key:'archivesave_button_label')}</f:form.button>
		</f:if>
		</f:form>
		<f:if condition="{persondeleted}=='0' && {contactarchiefreg} && {archive.uid} && {archive.type_content}!=='email'  && {archive.id_person_owner}=={userid}">
		<f:then>
				<f:form action="deleteArchive" name="delete" id="deleteForm">
					<f:form.hidden name="archiveid" value="{archive.uid}"/>
					<f:form.hidden id="stack" name="stack" value="{stack}"/>				
					<f:form.button  class="btn btn-primary mr-1 mt-1" title="Contactinfo verwijderen">{f:translate(key:'delete_button_label')}</f:form.button>
				</f:form>
		</f:then>
		</f:if>
		<f:form action="detail" name="return" method="post">
		<f:form.hidden id="stack" name="stack" value="{stack}"/>
		<f:form.hidden id="stack" name="stack" value="{stack}"/>
		<f:form.button class="btn btn-primary mt-1" title="Niets opslaan en terugkeren">{f:translate(key:'return_button_label')}</f:form.button>
		</f:form>
 	</div>
</div>
</f:section>
</html>