<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="content">
	<f:if condition="{person}">
		<div class="row">
			<div class=col-sm">

			<f:if condition="{person.nofoto}">
				<f:then>
					<IMG id="img_form" height="300px" SRC="typo3conf/ext/churchpersreg/Resources/Public/Images/leegportret.jpg">
				</f:then>	
				<f:else>
					<IMG id="img_form" height="300px" SRC="typo3conf/ext/churchpersreg/Classes/Hooks/showphoto.php?Pid={person.person_uid}&size=large">
				</f:else>
			</f:if>
			<br>
			<f:if condition="{extraPermissions} && {person.deleted}=='0'">
				<f:then>
					<form   name="file-form" id="file-form" action="#" method="post" >
					<input type="hidden" name="MAX_FILE_SIZE" value="5000000">

					<f:if condition="{person.nofoto}">Hier kun je de portretfoto plaatsen:<f:else>Vervang portretfoto:</f:else></f:if>
					<br><input size="32" type="file" name="photos[]" id="imageFile">
					<br><input type="submit" class="btn btn-primary mr-1" id="upload-button" value="<f:translate key='upload_button_label' />" >
					<f:if condition="{person.nofoto}=='0'"><input type="button" id="verdwijderenfoto" class="btn btn-primary" value="<f:translate key='delete_button_label' />"></f:if>
					</form>
				</f:then>
			</f:if>			
			</div>

			<div class="col-sm ">
			<f:if condition="{myprofile}"><div id="errorBoxevent" class="bodytext errorMessage pl-2"></div></f:if>
			<table class="tx-persoon">
			<tr><td class="labelchurchadmin"><label for="person-naam"><f:translate key="persoon.naam" />:</label></td>
			<td id="person-naam">{person.titel} 
			<f:if condition="{extraPermissions}">
				<f:then>
					{person.voornamen}
					<f:if condition="{person.roepnaam}!={person.voornamen}">({person.roepnaam})
					</f:if>
				</f:then>
			<f:else>{person.roepnaam}
			</f:else>
			</f:if>
			{person.tussenvoegsel} {person.achternaam} 
			<f:if condition="{extraPermissions}">
				<f:then>
					<f:if condition="{person.bezoeker}!='is bezoeker'">(geen vaste bezoeker)</f:if>({person.geslacht})
				</f:then>
			</f:if>
			{f:if(condition:'{person.deleted}=="1"',then:'<span style="color:red;"> (VERWIJDERD)</span>')} 
			</td></tr>
			<tr><td class="labelchurchadmin"><label for="person-adres"><f:translate key="persoon.adres" />:</label></td>
			<td id="person-adres">
				<f:if condition="{personreg}||{person.adres_op_website}=='adres tonen'">
					<f:then>{person.straatnaam} {person.huisnummer} {person.postcode} {person.woonplaats} {person.land}
					</f:then>
				</f:if>
				<f:if condition="{extraPermissions} && {person.adres_op_website}!='adres tonen'">(adres niet op website)</f:if>
			</td></tr>
			<tr><td class="labelchurchadmin"><label for="person-telefoon"><f:translate key="adres.telefoon" />:</label></td>
			<td id="person-telefoon">
				<f:if condition="{personreg}||{person.tel_op_website}=='telefoon tonen'">
					<f:then>{person.telefoonnr_vast}
					</f:then>
				</f:if>
				<f:if condition="{extraPermissions} && {person.tel_op_website}!='telefoon tonen'">(telefoon niet op website)</f:if>
			</td></tr>
			<tr><td class="labelchurchadmin"><label for="person-mobiel"><f:translate key="persoon.mobiel" />:</label></td>
			<td id="person-mobiel">
				<f:if condition="{myprofile}">
					<f:form.textfield class="changeablefield" id="persoon-mobiel" name="mobieltelnr" value="{person.mobieltelnr}" size="36" maxlength="50" additionalAttributes="{autocomplete: 'off'}"  type="tel" pattern="(\+31|0)6-?[\d]{8,8}" />
				</f:if>
				<f:if condition="(!{myprofile} && ({person.mobieltelnr} && ({personreg} || {person.mobiel_op_website}=='mobiel tonen'))">{person.mobieltelnr}&nbsp;</f:if>
				<f:if condition="{extraPermissions} && {person.mobiel_op_website}!='mobiel tonen'"> (mobiel niet op website)</f:if>
			</td></tr>
			<tr><td class="labelchurchadmin"><label for="person-email"><f:translate key="persoon.email" />:</label></td>
			<td id="person-email">
				<f:if condition="{myprofile}">
					<f:form.textfield class="changeablefield" id="persoon-email" name="emailadres" value="{person.emailadres}" size="36" maxlength="50" additionalAttributes="{autocomplete: 'off'}"  pattern="[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*" required="true" type="email" />
				</f:if>
				<f:if condition="(!{myprofile} && ({person.emailadres} && ({personreg} || {person.email_op_website}=='email tonen'))">{person.emailadres}&nbsp;</f:if>
				<f:if condition="{extraPermissions} && {person.email_op_website}!='email tonen'">(email niet op website)</f:if>
			</td></tr>
			<f:if condition="{personreg}">
				<f:then>
					<tr><td class="labelchurchadmin d-inline"><label for="person-geboortedatum"><f:translate key="geboren" />:</label></td>
					<td id="person-geboortedatum"><f:if condition="{person.geboortedatum}&&{person.geboortedatum}!='0000-00-00'"><f:format.date format="%d-%m-%Y" date="{person.geboortedatum}" /></f:if>
					<f:if condition="{person.geboortedatum_op_intranet}=='0'"> (niet op website)</f:if>&nbsp;&nbsp;<f:translate key="persoon.te" />&nbsp;{person.geboorteplaats}
			<f:form action="detail"  name="search" id="detailForm">
			<f:form.hidden name="personid" id="detailFormpid1"/>
			<f:form.hidden id="stack" name="stack" value="{stack}"/>
			<f:form.hidden id="myprofile1" name="myprofile" value="{myprofile}"/>
					<f:if condition="{person.vadernaam}">&nbsp;&nbsp;<f:translate key="persoon.vader"/>:&nbsp;
						<f:form.submit value="{person.vadernaam}" id="{person.id_vader}" class="personselect btn btn-link p-0" />{f:if(condition:'{person.vaderdeleted}=="1"',then:'<span style="color:red;"> (VERWIJDERD)</span>')}
					</f:if>
					<f:if condition="{person.moedernaam}">&nbsp;&nbsp;<f:translate key="persoon.moeder"/>:&nbsp;
						<f:form.submit value="{person.moedernaam}" id="{person.id_moeder}" class="personselect btn btn-link p-0" />{f:if(condition:'{person.moederdeleted}=="1"',then:'<span style="color:red;"> (VERWIJDERD)</span>')}
					</f:if>
					</td></tr>
					<f:if condition="{oldenoughforparents}==1">
					<f:then>
					<tr><td class="labelchurchadmin"><label for="person-kinderen"><f:translate key="persoon.kinderen" />:</label></td>
					<td id="person-kinderen">
						<f:for each="{children}" as="child" >
						<f:form.submit value="{child.1} " id="{child.0}" class="personselect btn btn-link mr-1 p-0" />{f:if(condition:child.2,then:'<span style="color:red;">(VERWIJDERD)</span>')} </span>
						</f:for>
					</td>
					</f:then>
					</f:if>
				</f:form>
				<f:if condition="{schrijvenpersons} && {person.deleted}=='0' && {oldenoughforparents}==1">
				<f:then>
					<td>
						<f:form action="edit" name="search" id="editForm">
						<f:form.hidden name="personid" value="{person.person_uid}"/>
						<f:form.hidden name="typeadd" value="addchild"/>
						<f:form.hidden id="stack" name="stack" value="{stack}"/>				
						<f:form.button  class="btn btn-primary ml-0" title="kind toevoegen">{f:translate(key:'persoon.childnew')}</f:form.button>
						</f:form>
					</td>
				</f:then>
				</f:if>
					</tr>
			</f:then>
			</f:if>					
			<f:if condition="{personreg}">
				<f:then>							
			<f:form action="detail"  name="search" id="detailForm">
			<f:form.hidden name="personid" id="detailFormpid2"/>
			<f:form.hidden id="myprofile2" name="myprofile" value="{myprofile}"/>
			<f:form.hidden id="stack" name="stack" value="{stack}"/>
					<tr><td class="labelchurchadmin"><label for="person-burgelijkestaat"><f:translate key="persoon.burgelijkestaat" />:</label></td>
					<td id="person-burgelijkestaat"><div>{person.burgerlijke_staat}
					<f:if condition="{person.burgerlijke_staat}=='gehuwd' && {person.trouwdatum}&&{person.trouwdatum}!='0000-00-00'">&nbsp;<f:translate key="persoon.sinds"/>&nbsp;<f:format.date format="%d-%m-%Y" date="{person.trouwdatum}" /></f:if>
					<f:if condition="{person.burgerlijke_staat}=='overleden' && {person.datumoverlijden}&&{person.datumoverlijden}!='0000-00-00'">&nbsp;<f:translate key="persoon.op"/>&nbsp;<f:format.date format="%d-%m-%Y" date="{person.datumoverlijden}" /></f:if>
					<f:if condition="{person.partnernaam}">&nbsp;&nbsp;<f:translate key="persoon.partner"/>:&nbsp;
						<f:form.submit value="{person.partnernaam}" id="{person.id_partner}" class="personselect btn btn-link p-0" />{f:if(condition:'{person.partnerdeleted}=="1"',then:'<span style="color:red;"> (VERWIJDERD)</span>')} 
					</f:if></div>
			</f:form>
					<f:if condition="{schrijvenpersons} && {person.deleted}=='0' && !{person.partnernaam} && ({person.burgerlijke_staat}=='gehuwd' || {person.burgerlijke_staat}=='samenwonend')">
						<f:then>
						<div>
						<f:form action="edit" name="search" id="editForm">
							<f:form.hidden name="personid" value="{person.person_uid}"/>
							<f:form.hidden name="typeadd" value="addpartner"/>
							<f:form.hidden id="stack" name="stack" value="{stack}"/>				
							&nbsp;&nbsp;<f:form.button  class="btn btn-primary mr-0" title="partner toevoegen">{f:translate(key:'persoon.partnernew')}</f:form.button>
						</f:form>
						</div>
						</f:then>
					</f:if>
					</td></tr>
					<tr><td class="labelchurchadmin"><label for="person-beroep"><f:translate key="persoon.beroep" />:</label></td>
					<td if="person-beroep">{person.beroep}</td></tr>
					<tr><td>&nbsp;</td></tr>
					<tr><td class="labelchurchadmin"><label for="person-bezoeker"><f:translate key="bezoeker" />:</label></td>
					<td id="person-bezoeker">{f:if(condition:"{person.bezoeker}=='is bezoeker'",then:'ja', else:'nee')}; <f:translate key="persoon.invoerdatum" />: <f:format.date format="%d-%m-%Y" date="{person.invoerdatum}" /></td></tr>
					<tr><td class="labelchurchadmin"><label for="person-doop"><f:translate key="doop" />:</label></td>
					<td id="person-doop">
						{person.gedoopt}
						<f:if condition="{person.gedoopt}=='is gedoopt'">
						&nbsp;<f:translate key="persoon.op" /> <f:if condition="{person.doopdatum}&&{person.doopdatum}!='0000-00-00'"><f:format.date format="%d-%m-%Y" date="{person.doopdatum}" /></f:if>
						&nbsp;<f:translate key="persoon.te" /> {person.doopplaats} &nbsp;<f:translate key="persoon.bij" />&nbsp;{person.doopgemeente}	
						</f:if>
					</td></tr>
					<tr><td class="labelchurchadmin"><label for="person-lidmaatschap"><f:translate key="lid" />:</label></td>
					<td id="person-lidmaatschap">
						{person.lid}
						<f:if condition="{person.lid}=='is lid'">
						&nbsp;<f:translate key="persoon.sinds" /> <f:if condition="{person.datum_lidmaatschap}&&{person.datum_lidmaatschap}!='0000-00-00'"><f:format.date format="%d-%m-%Y" date="{person.datum_lidmaatschap}" /></f:if>
						</f:if>
					</td></tr>
				</f:then>
				<f:else>
						<f:form action="detail"  name="search" id="detailForm">
						<f:form.hidden name="personid" id="detailFormpid1"/>
						<f:form.hidden id="myprofile3" name="myprofile" value="{myprofile}"/>
						<f:form.hidden id="stack" name="stack" value="{stack}"/>
						<f:if condition="{person.geboortedatum_op_intranet}=='1'">
						<tr><td class="labelchurchadmin"><label for="person-geboortedatum"><f:translate key="persoon.geboortedatum" />:</label></td>
						<td id="person-geboortedatum"><f:if condition="{person.geboortedatum}&&{person.geboortedatum}!='0000-00-00'"><f:format.date format="%d-%m-%Y" date="{person.geboortedatum}" /></f:if>
						<f:if condition="{person.vadernaam}">&nbsp;&nbsp;<f:translate key="persoon.vader"/>:&nbsp;
							<f:form.submit value="{person.vadernaam}" id="{person.id_vader}" class="personselect btn btn-link p-0" />{f:if(condition:'{person.vaderdeleted}=="1"',then:'<span style="color:red;"> (VERWIJDERD)</span>')}
						</f:if>
						<f:if condition="{person.moedernaam}">&nbsp;&nbsp;<f:translate key="persoon.moeder"/>:&nbsp;<f:form.submit value="{person.moedernaam}" id="{person.id_moeder}" class="personselect btn btn-link p-0" />{f:if(condition:'{person.moederdeleted}=="1"',then:'<span style="color:red;"> (VERWIJDERD)</span>')}</f:if>
						</td></tr>
					</f:if>
					<f:if condition="{children}">
						<tr><td class="labelchurchadmin"><label for="person-kinderen"><f:translate key="persoon.kinderen" />:</label></td>
						<td id="person-kinderen">
						<f:for each="{children}" as="child" >
							<f:form.submit value="{child.1} " id="{child.0}" class="personselect btn btn-link mr-1 p-0" />
						</f:for>
						</td></tr>
					</f:if>
					<f:if condition="{person.burgerlijke_staat}=='overleden'">
						<tr><td class="labelchurchadmin"><label for="person-datumoverlijden"><f:translate key="persoon.datumoverlijden" />:</label></td>
						<td id="person-datumoverlijden"><f:if condition="{person.datumoverlijden}&&{person.datumoverlijden}!='0000-00-00'"><f:format.date format="%d-%m-%Y" date="{person.datumoverlijden}" /></f:if>
						</td></tr>
					</f:if>					
					<f:if condition="{person.partnernaam} && {person.burgerlijke_staat}=='gehuwd' || {person.burgerlijke_staat}=='samenwonend')"><tr><td class="labelchurchadmin"><label for="person-partner"><f:translate key="persoon.partner" />:</label></td><td id="person-partner">
						<f:form.submit value="{person.partnernaam}" id="{person.id_partner}" class="personselect btn btn-link p-0" />{f:if(condition:'{person.partnerdeleted}=="1"',then:'<span style="color:red;"> (VERWIJDERD)</span>')} 
						</td></tr>
					</f:if>
					</f:form>
					<f:if condition="{userlid}=='is lid'">
						<f:if condition="{person.gedoopt}=='is gedoopt'">
							<tr><td class="labelchurchadmin"><label for="person-doop"><f:translate key="doop" />:</label></td>
							<td id="person-doop">{person.gedoopt}&nbsp;<f:translate key="persoon.op" /> <f:if condition="{person.doopdatum}&&{person.doopdatum}!='0000-00-00'"><f:format.date format="%d-%m-%Y" date="{person.doopdatum}" /></f:if>
							</td></tr>
						</f:if>
						<f:if condition="{person.lid}=='is lid'">
							<tr><td class="labelchurchadmin"><label for="person-lidmaatschap"><f:translate key="lid" />:</label></td>
							<td id="person-lidmaatschap">{person.lid}&nbsp;<f:translate key="persoon.sinds" /> <f:if condition="{person.datum_lidmaatschap}&&{person.datum_lidmaatschap}!='0000-00-00'"><f:format.date format="%d-%m-%Y" date="{person.datum_lidmaatschap}" /></f:if> 
							</td> </tr>
						</f:if>
					</f:if>
				</f:else>
			</f:if>
			<f:if condition="{cleanteamReg}">
				<tr><td class="labelchurchadmin"><label for="person-cleanteams"><f:translate key="persoon.cleanteams"/></label></td>
				<td id="person-cleanteams"><f:form.checkbox id="cleanteam" name="cleanteam" value="kan meedoen" checked="{person.cleanteam}=='kan meedoen'"/>&nbsp;kan meedoen</td></tr>
			</f:if>
			<tr><td class="labelchurchadmin"><label for="person-taken"><f:translate key="persoon.taken" />:</label></td>
			<f:form action="showhierarchy" controller="Ministry" extensionName="churchtakenreg" pluginName="Ministry" pageUid="{pagenbrministrytree}" name="task" id="taskForm">
				<f:form.hidden name="ministryid" id="taskid"/>
				<f:form.hidden id="stack" name="stack" value="{stack}"/>
				<td id="person-taken">
				<f:for each="{taken}" as="taak" key="taakid">
					<span id="{taakid}_drop" class="taskselect btn btn-link mr-1 p-0">{taak}</span>
				</f:for>
			</td></tr>
			</f:form>
			<f:if condition="{userid}=={person.person_uid}">
				<tr><td colspan="2"><br>Voor wijziging van je persoonsgegevens mail: <f:link.email email="{emailchangeaddresses}"/>
				<br><p>&nbsp;</p>Neem voor onjuistheden in je taken contact op met je bedieningsleider.</td></tr>
			</f:if>
			<f:if condition="{person.deleted}=='1'">
			<tr><td id="author" colspan=2 style="font-size : smaller;" valign="bottom" align=left>Verwijderd op:&nbsp;&nbsp;<f:format.date format="%d-%m-%Y" date="{person.datum_wijziging}" />&nbsp;&nbsp;door {person.stellernaam} met als reden: {person.verwijderreden} </td></tr>
			</f:if>
			<tr><td>&nbsp;</td></tr>
			<tr><td  colspan="2" valign="top">
			<table  class="styled"><tr>
			<f:if condition="{emailpersons} && {person.deleted}=='0'">
				<f:then>
					<td>
					<f:form action="email" name="search" id="mailForm">
					<f:form.hidden name="personid" value={person.person_uid}/>
					<f:form.hidden id="stack" name="stack" value="{stack}"/>					
					<f:form.button  class="btn btn-primary " title="stuur een e-mail naar deze persoon">{f:translate(key:'email_button_label')}</f:form.button>
					</f:form>
					</td>
				</f:then>
			</f:if>
			<f:if condition="{schrijvenpersons} && {person.deleted}=='0'">
				<f:then>
					<td>
					<f:form action="edit" name="search" id="editForm">
					<f:form.hidden name="personid" value="{person.person_uid}"/>
					<f:form.hidden id="stack" name="stack" value="{stack}"/>				
					<f:form.button  class="btn btn-primary" title="gegevens van deze persoon wijzigen">{f:translate(key:'wijzig_button_label')}</f:form.button>
					</f:form>
					</td>
					<td>
					<div>
					<f:form action="delete" name="deleteForm" id="deleteForm">
					<f:form.hidden name="personid" value="{person.person_uid}"/>
					<f:form.hidden name="adresid" value="{person.id_adres}"/>
					<f:form.hidden name="huisgenoten" value="{person.huisgenoten}"/>
					<f:form.hidden id="stack" name="stack" value="{stack}"/>
					<f:form.hidden id="redenverw" name="verwijderreden" value='' />
					<f:form.button id="deletesubmit" class="btn btn-primary " title="Persoon verwijderen uit het bestand">{f:translate(key:'delete_button_label')}</f:form.button>
					</br><div style="display:none" id="huisgenoten" class="warningmessage">
					<f:form.checkbox id="removeall" name="removeall" style="width:20px;" value="1" checked="{person.moveall}"/><span class="alert alert-danger" role="alert"><f:translate key="adres.removeall" />: {person.huisgenoten}?</span></div> 
					<div class="zoekselect" id="getreason"><f:translate key="persoon.deletereason" />:</br>
					<ul >
						<f:for each="{verwreden}" as="reden" key="redenkey">
						<li value="{redenkey}" onClick="givereason(this);">{reden}</li>
						</f:for>
					</ul>
					</div>
					</f:form>
					</div>
					</td>
				</f:then>
			</f:if>
			<td>
			<f:if condition="{return} && {retpageUid}">
				<f:form action="{return}" name="search" controller="{retcontroller}" extensionName="{retextensionName}" pluginName="{retpluginName}" pageUid="{retpageUid}" id="returnForm">
				<f:form.hidden id="myprofile" name="myprofile" value="{myprofile}"/>
				<f:form.hidden id="stack" name="stack" value="{stack}"/>
				<f:form.button  class="btn btn-primary" >{f:translate(key:"return_button_label")}</f:form.button>
				</f:form>
			</f:if>
			<f:if condition="{return} && !{retpageUid}">
				<f:form action="{return}" name="search" id="returnForm">
				<f:form.hidden id="myprofile" name="myprofile" value="{myprofile}"/>
				<f:form.hidden id="stack" name="stack" value="{stack}"/>
				<f:form.button  class="btn btn-primary" >{f:translate(key:"{f:if(condition:'{return}==\'selectedList\'',then:'returntolist', else:'return_button_label')}")}</f:form.button>
				</f:form>
			</f:if>
			</td>
			</tr></table>
			</td></tr>

			</table>
			</div>
		</div>
		<f:if condition="{contactarchief} && {person.deleted}==0 || {contactarchiefverwijderd}">
			<f:form id="ContactInfoReg" action="contactInfoReg" name="ContactInfoReg">
			<f:form.hidden name="stack" value="{stack}"/>
			<f:form.hidden name="personid" value="{person.person_uid}"/>
			<f:form.hidden name="person_deleted" value="{person.deleted}"/>
			<f:form.hidden id="typecontent" name ="typecontent" value="notitie"/>
			<f:form.hidden id="archiveid" name="archiveid" value="" />
			<div class="alternate-row" style="height:2.5rem;margin-top:20px; ">
				<f:if condition="{archives} || {contactarchiefschrijven} ">
					<div style="float:left">
					<span >Contact info:</span>
					</div>
					<f:if condition="{person.deleted}==0 && {contactarchiefschrijven}">
						<div style="float:right">
							<f:form.button id="bestand" class="btn btn-primary archiveselect" title="document/bestand toevoegen aan deze persoon">{f:translate(key:"addfile_button_label")}</f:form.button>
						</div>
						<div style="float:right">
							<f:form.button id="notitie" class="btn btn-primary mr-1 archiveselect" title="Notitie opstellen en toevoegen aan deze persoon">{f:translate(key:"addremark_button_label")}</f:form.button>
						</div>
					</f:if>
				</f:if>
			</div>
			<f:if condition="{archives}">
				<table  class="tx-persoon">
				<f:for each="{archives}" as="archive">
					<tr>
					<f:if condition="!{archive.id_parentarchive}">
						<f:then>
						<td class="col-form-label" style="white-space: nowrap;" class="col-form-label"><f:format.date format="%d-%m-%Y">{archive.date}</f:format.date></td><td class="col-form-label">{archive.author}</td>
						<td><f:form.submit value="{archive.subject}" id="ar_{archive.uid}" class="archiveselect btn btn-link" /></td>
						<f:if condition="{archive.type_content}=='bestand'">
							<tr><td colspan="2" ></td><td><a class="btn btn-link" href="{usermap}/{archive.filename}" target="_blank">{archive.document_name}</a></td></tr>
						</f:if>
						</f:then>
					<f:else>
						<td colspan="2" ></td><td><a  class="btn btn-link" href="{usermap}/{archive.filename}" target="_blank">{archive.document_name}</a></td><td></td>
					</f:else>
					</f:if>
					</tr>
				</f:for>
				</table>
			</f:if>
			</f:form>
		</f:if>

	</f:if>
	<!--TYPO3SEARCH_begin-->
			
<script language="JavaScript">
$ = jQuery.noConflict();
var toggleaction="index.php?eID=cleanteamtoekenning";
var formaction="index.php?eID=filehandling";
var idperson="{person.person_uid}";
$('#deleteForm').on('submit',function(e) {
	//alert("submit delete");
	reden=$("#redenverw").val();
	if (reden=='')
	{
		e.preventDefault();
		$("#getreason").css({"display":"block"});
		<f:if condition="{person.huisgenoten}!='' ">
	    $("#huisgenoten").show();
		</f:if>
		
		return false;
	}
});

function givereason(e){
	id=e.value;
	$("#redenverw").val(id);
	if (id=="2")
	{
	<f:if condition="{person.burgerlijke_staat}!=='overleden'">
		alert("Wijzig eerst burgelijke staat naar 'overleden'");
		return false;
	</f:if>
	}
	if (id=="2")
	{
	<f:if condition="!{person.datumoverlijden} || {person.datumoverlijden}=='0000-00-00'">
		alert("Vul eerst datum overlijden in");
		return false;
	</f:if>
	}
	<f:if condition="{person.huisgenoten}!=''" >
	if (id=="2" && $("#removeall").prop("checked")==true)
	{ alert ("Bij overlijden niet iedereen verwijderen");
	return false;
	}
	</f:if>
$("#getreason").css({"display":"none"});
	//alert ("reden:"+e.innerText+"; waarde:"+id);
	$('#deleteForm').submit();
}
/*		processData: false,
		contentType: false,
		dataType: "json", */


$("#cleanteam").change(function() 
{ //alert ("action:"+toggleaction+"; "+this.value +" checked:"+this.checked);	
	
	$.ajax({
		url: "index.php?eID=cleanteamtoekenning",
		data: {
			"cleanteam": this.checked,
			"idperson": idperson,
		},
		type: "POST",
		success: function (taken, textStatus, jqXHR) {
			//taken=result["data"];
			// replace taken:
			$("#person-taken").html(taken);
			//alert("Error success: taken:" + taken+"; status:"+result["status"]+"; result:"+result);
		},
		error: function (data, textStatus, jqXHR) {
            alert("Error failaure: " + jqXHR.status + ": " + jqXHR.statusText+"; text:"+textStatus);
		},
	});
});

// image file handling:	
$('#file-form').on('submit',(function(e) {
	e.preventDefault();
	if ($('#imageFile').val().length < 9)
	{	alert ("blader eerst naar een foto!");
		$('#imageFile').focus();
		$('#imageFile').select();
		return false;
	}
	//alert ("idperson: "+idperson);
	$('#upload-button').text('Aan het laden...');
	var formdata = new FormData($(this)[0]);
	formdata.append('action','laden'); 
	formdata.append("idperson",idperson);
	//alert ('form action:'+formaction);
	$.ajax({
		url: formaction,
		data: formdata,
		processData: false,
		contentType: false,
		type: 'POST',
		success: function (data, textStatus, jqXHR) {
			//alert("Success: " + jqXHR.status + ": " + jqXHR.statusText);
			$('#upload-button').text('Laden');
			if(data.length>0)	alert(data);
			else{
				$('input[type=file]').each(function(){
   					$(this).after($(this).clone(true)).remove();
				}); 
				var foto = "typo3conf/ext/churchpersreg/Classes/Hooks/showphoto.php?Pid="+idperson+"&size=large'&'?>"+new Date().getTime();
				$('#img_form').attr('src',foto);
			}
		},
		error: function (data, textStatus, jqXHR) {
            alert("Error: " + textStatus + ": " + jqXHR);
		},
	});
}));
$('#verdwijderenfoto').click(function(){
	var formdata = new FormData($('#file-form')[0]);
	formdata.append('action','verwijderen'); 
	formdata.append("idperson",idperson);
	$.ajax({
		url: formaction,
		data: formdata,
		processData: false,
		contentType: false,
		type: 'POST',
		success: function (data, textStatus, jqXHR) {
			var foto = "typo3conf/ext/churchpersreg/Resources/Public/Images/leegportret.jpg";
			$('#img_form').attr('src',foto);
		},
		error: function (data, textStatus, jqXHR) {
            alert("Error: " + jqXHR.status + ": " + jqXHR.statusText);
		},
	});

});

$( ".archiveselect" ).click( function(event) {
	var id=event.target.id;
	//alert ("active archive action:"+id);
	if (id.substring(0,3)=='ar_') $("#archiveid").val(id.substring(3));
	else $("#typecontent").val(id); 
	//alert ("typecontent:"+$("#typecontent").val);
}); 

$(".personselect" ).click(function( event ) {
	var personid=event.target.id;
	$("#detailFormpid1").val(personid);
	$("#detailFormpid2").val(personid);
});

//$(".taskselect").click( function(event){
//$("input.taskselect:submit").click( function(event){
//$(document).on('click', 'input.taskselect:submit)', function (event) {
$('#person-taken').on('click','.taskselect',function(event) {
	var taskid = event.target.id
//		alert("taskelect taskid:"+taskid);
	$("#taskid").val(taskid);
		//alert("taskelect taskid:"+$("#taskid").val());
	$('#taskForm').submit();
	});



</script>
<f:if condition="{myprofile}">
<script>

//$("#persoon-mobiel").change(function() 
$(".changeablefield").change(function() 
{ //alert ("action:"+toggleaction+"; "+this.value +" checked:"+this.checked);	
	mobieltelnr=$("#persoon-mobiel").val();
	mobieltelnr=mobieltelnr.replace(/\s/g,'');
	mobieltelnr=mobieltelnr.replace(/\+31/,'0');
	emailadres=	$("#persoon-email").val();
	//alert ("persoon-mobiel: "+mobieltelnr+"; emailadres: "+emailadres);
	
	var cellphone = /^(\+31|0)6-?[\d]{8}$/;
	if (!cellphone.test(mobieltelnr))
	{
		$("#errorBoxevent").text("formaat van mobielnummer "+mobieltelnr+" is onjuist");
		$("#errorBoxevent").show();
		return false;
	}
	if (mobieltelnr.indexOf("-") <0 )
	{
		minpos=mobieltelnr.indexOf("6")+1;
		newcell=mobieltelnr.substring(0,minpos)+'-'+mobieltelnr.substring(minpos);
		mobieltelnr=newcell;
	}
	$("#persoon-mobiel").val(mobieltelnr);
	var emailaddress = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
	if (!emailaddress.test(emailadres))
	{
		$("#errorBoxevent").text("formaat van emailadres "+emailadres+" is onjuist");
		$("#errorBoxevent").show();
		return false;
	}
	$("#errorBoxevent").hide();
	$.ajax({
		url: "index.php?eID=changepersbyowner",
		data: {
			"mobieltelnr": mobieltelnr,
			"emailadres": emailadres,
			"idperson": idperson,
		},
		type: "POST",
		success: function (errormessage, textStatus, jqXHR) {
			if (errormessage)
			{
				$("#errorBoxevent").text(errormessage);
				$("#errorBoxevent").show();
			}
			else $("#errorBoxevent").hide();
			//$("#persoon-mobiel").html(email);
			//alert("Error success: taken:" + taken+"; status:"+result["status"]+"; result:"+result);
		},
		error: function (data, textStatus, jqXHR) {
            alert("Error failaure: " + jqXHR.status + ": " + jqXHR.statusText+"; text:"+textStatus);
		},
	});

});


</script>
</f:if>
</f:section>
</html>
