<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<!--
	=====================
		Templates/Persoon/SelectedList.html
-->

<f:section name="content">
	<!--TYPO3SEARCH_end-->
<script language="JavaScript">
$ = jQuery.noConflict();
var downloadfile = "{downloadfile}";
//$(window).load(aanvraag() {
$(document).ready(aanvraag() {
	//alert('downloadfile:'+downloadfile);
	if (downloadfile && downloadfile !='') window.open(downloadfile,"_parent");
});
</script>
	<div class="row"><div class="col-12">{updatelogs->f:count()} {f:translate(key:'updatelog.found')}:</div></div>
	<f:if condition="{updatelogs}">
		<f:then>
		<f:form action="detailUpdatelog"  name="search" id="detailForm">
		<f:form.hidden name="f_uid" id="detailFormpid"/>
		<f:form.hidden name="no_cache" value="1"/>
		<f:form.hidden id="stack" name="stack" value="{stack}"/>
		<div class="d-sm-block">
			<div class="row">
			    <div class="col font-weight-bold text-wrap text-left">{f:translate(key:'archive.date')}</div>
			    <div class="col text-wrap font-weight-bold text-left">{f:translate(key:'persoon.naam')}</div>				
				<div class="col text-wrap text-left font-weight-bold">{f:translate(key:'persoon.changedfields')}</div>
			</div>
			<f:for each="{updatelogs}" as="updatelog" iteration="updatelogindex">
				<div class="row {f:if(condition:updatelogindex.isEven,then:'alternate-row')} ">
				    <div class="col text-wrap  text-left" style="padding:0;"><input class="updatelogselect btn btn-link" id="ps_{updatelog.uid}" style="padding:0;" type="submit" value='{f:format.date(format:"%d-%m-%Y %H:%M:%S",date:updatelog.date_change)}'></div>
				    <div class="col text-wrap text-left">{updatelog.naam}</div>
				    <div class="col text-wrap  text-left">{updatelog.changestr}</div>
				</div>
			</f:for>
		</div>
		</f:form>
		</f:then>
	</f:if>
	<div>
	<f:form class="mt-2" action="searchUpdatelog" name="search" id="returnForm">
	<f:form.hidden id="stack" name="stack" value="{stack}"/>
	<f:form.hidden name="no_cache" value="1"/>
	<f:form.submit class="btn btn-primary" value="{f:translate(key:'return_button_label')}"/> 
	</f:form>
	</div>
	
	<script>
	$ = jQuery.noConflict();
	
	$(".updatelogselect").click( function(event){
		var targetid = event.target.id;
		var requestid=targetid.substring(3);
		$("#detailFormpid").val(requestid);
		//alert("detailFormpid: "+$("#detailFormpid").val());
	});
	</script>
</f:section>
</html>
