<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="uid">
	<f:translate key="persoon.uid" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="uid" /><br />
<label for="pid">
	<f:translate key="persoon.pid" />
</label><br />
	<f:form.textfield property="pid" /><br />
<label for="general">
	<f:translate key="persoon.general" /> 
</label><br />
	<f:form.textfield property="general" width="365px"/><br />
<label for="voornaam">
	<f:translate key="persoon.voornaam" /> 
</label><br />
	<f:form.textfield property="voornaam" /><br />
<label for="postcode">
	<f:translate key="persoon.postcode" />
</label><br />
	<f:form.textfield property="postcode"  /><br />
<label for="woonplaats">
	<f:translate key="persoon.woonplaats" />
</label><br />
	<f:form.textfield property="woonplaats" /><br />
<label for="tstamp">
	<f:translate key="persoon.tstamp" />
</label><br />
	<f:form.textfield property="tstamp" value="{persoon.tstamp->f:format.date()}" /><br />
<label for="deleted">
	<f:translate key="persoon.deleted" />
</label><br />
	<f:form.checkbox property="deleted" value="1" /><br />
<label for="hidden">
	<f:translate key="persoon.hidden" />
</label><br />
	<f:form.checkbox property="hidden" value="1" /><br />
<label for="crdate">
	<f:translate key="persoon.crdate" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="crdate" value="{persoon.crdate->f:format.date()}" /><br />
<label for="cruserId">
	<f:translate key="persoon.cruser_id" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="cruserId" /><br />
<label for="feGroup">
	<f:translate key="persoon.fe_group" />
</label><br />
	<f:form.textfield property="feGroup" /><br />
<label for="starttime">
	<f:translate key="persoon.starttime" />
</label><br />
	<f:form.textfield property="starttime" value="{persoon.starttime->f:format.date()}" /><br />
<label for="endtime">
	<f:translate key="persoon.endtime" />
</label><br />
	<f:form.textfield property="endtime" value="{persoon.endtime->f:format.date()}" /><br />
<label for="sysLanguageUid">
	<f:translate key="persoon.sys_language_uid" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="sysLanguageUid" /><br />
</html>