<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-persoon" >
	<tr>
		<td>
			<f:translate key="persoon.uid" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="persoon.pid" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="persoon.voornaam" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="persoon.general" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="persoon.postcode" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="persoon.woonplaats" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="persoon.tstamp" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="persoon.deleted" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="persoon.hidden" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="persoon.crdate" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="persoon.cruser_id" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="persoon.fe_group" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="persoon.starttime" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="persoon.endtime" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="persoon.sys_language_uid" />
		</td>
		<td>
		</td>
	</tr>
</table>
</html>